<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="theme-color" content="#000000" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if page.title %}{{ page.title }}{% else %}{{ page.titleBarTitle }}{% endif %} - CVFD</title>

		{% assign randomNumber = "now" | date: "%N" %}
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link href="/libs/bootstrap.min.css?v={{ randomNumber }}" rel="stylesheet">
		<link href="/libs/bootstrap-icons.css?v={{ randomNumber }}" rel="stylesheet">
		<link href="/css/site.css?v={{ randomNumber }}" rel="stylesheet">

		{% if page.hasFilter %}
		<link href="/libs/datepicker-bs5.min.css?v={{ randomNumber }}" rel="stylesheet">
		{% endif %}

		<script>
			window.authConfig = {
				requireAdmin: {% if page.requireAdmin %}true{% else %}false{% endif %},
				requireUser: {% if page.requireAdmin or page.requireUser %}true{% else %}false{% endif %}
			};
			window.baseHost = window.location.origin.indexOf('localhost') !== -1
				? 'http://localhost:8001'
				: '';
		</script>
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand flex-grow-1" href="#">CVFD {{page.titleBarTitle}}</a>
				<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbar">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link{% if page.url == '/' %} active{% endif %}" href="/">Radio Traffic</a>
						</li>
						<li class="nav-item">
							<a class="nav-link{% if page.url == '/weather.html' %} active{% endif %}" href="/weather.html">Weather</a>
						</li>
					</ul>

					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item" id="loginLink">
							<a class="nav-link{% if page.url == '/login.html' %} active{% endif %}" id="loginHref">Login</a>
						</li>
						<li class="nav-item dropdown d-none" id="logoutLink">
							<a id="username" href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Test</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" id="logoutHref">Logout</a></li>
								<li class="d-none requireUser"><a class="dropdown-item" href="/profile.html">Edit Profile</a></li>
								<li class="d-none requireAdmin"><a class="dropdown-item" href="/users.html">Manage Users</a></li>
								<li class="d-none requireAdmin" id="link-texts"><a class="dropdown-item" href="/texts.html">View Texts</a></li>
								<script>
									document.getElementById('loginHref').setAttribute('href', `/login.html?redirectTo=${encodeURIComponent(`${location.pathname}${location.search}`)}`);
									document.getElementById('logoutHref').setAttribute('href', `/api/user?action=logout&redirectTo=${encodeURIComponent(`${location.pathname}${location.search}`)}`);
								</script>
							</ul>
						</li>
						{% if page.hasFilter %}
						<li class="nav-item hide-small" id="filter-button-d">
							<a class="nav-link interactive-button" data-bs-toggle="modal" data-bs-target="#filter-modal">
								<i class="bi bi-funnel-fill"></i>
								Filter
							</a>
						</li>
						<li class="nav-item hide-small" id="time-button-d">
							<a class="nav-link interactive-button" data-bs-toggle="modal" data-bs-target="#time-modal">
								<i class="bi bi-calendar"></i>
								Time
							</a>
						</li>
						{% endif %}
						{% if page.isAudio %}
						<li class="nav-item hide-small" id="latest-button-d">
							<a class="nav-link interactive-button">
								<i class="bi bi-mic-fill"></i>
								{% if page.latestLabel %}{{ page.latestLabel }}{% else %}Latest{% endif %}
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
				{% if page.hasFilter %}<button data-bs-toggle="modal" data-bs-target="#filter-modal" class="navbar-toggler navbar-player ms-1 interactive-button" id="filter-button-m"><i class="navbar-toggler-icon bi bi-funnel-fill"></i></button>{% endif %}
				{% if page.hasFilter %}<button data-bs-toggle="modal" data-bs-target="#time-modal" class="navbar-toggler navbar-player ms-1 interactive-button" id="time-button-m"><i class="navbar-toggler-icon bi bi-calendar"></i></button>{% endif %}
				{% if page.isAudio %}<button class="navbar-toggler navbar-player ms-1 interactive-button" id="latest-button-m"><i class="navbar-toggler-icon bi bi-mic-fill"></i></button>{% endif %}
			</div>
		</nav>

		<div class="container{% if page.centerAll %} text-center{% endif %}">
			{% if page.title %}<h1 class="text-center">{{ page.title }}</h1>{% endif %}

			{{ content }}
		</div>

		<audio class="d-none" id="player"></audio>

		{% if page.isAudio %}
		<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<!-- Mobile -->
				<button class="navbar-toggler navbar-player ms-1 interactive-button player-active" id="autoplay-button-m"><i class="navbar-toggler-icon bi bi-arrow-bar-up text-light"></i></button>
				<button class="navbar-toggler navbar-player ms-1 interactive-button" id="play-button-m"><i class="navbar-toggler-icon bi bi-play-fill text-light"></i></button>

				<!-- Desktop -->
				<ul class="navbar-nav mb-2 mb-lg-0 hide-small">
					<li class="nav-item" id="autoplay-button-d">
						<a class="nav-link active interactive-button">
							<i class="bi bi-arrow-bar-up"></i>
							Autoplay
						</a>
					</li>
					<li class="nav-item" id="play-button-d">
						<a class="nav-link interactive-button"><i class="bi bi-play-fill"></i></a>
					</li>
				</ul>

				<div class="navbar-text">
					<div id="player-progress-container" class="progress ms-1 mt-1" style="width: 150px;">
						<div id="player-progress" class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<div class="navbar-text me-auto ms-2" id="player-duration">- sec</div>
			</div>
		</nav>
		<script async src="/js/audio.js?v={{ randomNumber }}"></script>
		{% endif %}
	
		<script async src="/js/auth.js?v={{ randomNumber }}"></script>
		<script async src="/libs/bootstrap.min.js?v={{ randomNumber }}"></script>
		{% if page.hasFilter %}<script async src="/libs/datepicker.min.js?v={{ randomNumber }}"></script>{% endif %}
	</body>
</html>
