*.js
!website/webpack.conf.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Jekyll directories
website/_site
website/.jekyll-cache

# Certificates used for server
client*
