.navbar-player i {
	background-image: none !important;
	vertical-align: middle;
	line-height: 1.5em;
}

.interactive-button {
	cursor: pointer;
}

.player-active {
	box-shadow: 0 0 0 0.25rem;
}

.table>:not(caption)>*>* {
	padding: 0.5rem 0.25rem;
}

body {
	padding-top: 60px;
	padding-bottom: 60px;
}

@media (max-width: 991px) {
	.hide-small {
		display: none;
	}
}

.border-top-modal {
	border-top: 1px solid #dee2e6;
}

.tg-row, .sortLabel {
	cursor: pointer;
	-webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.tg-row-highlight {
	background-color: #cff4fc;
}

#loadingCircle .spinner-border {
	width: 10rem;
	height: 10rem;
}
#loadingCircle {
	position: fixed;
	left: calc(50% - 5rem);
	top: calc(50% - 5rem);
}

.alert-fixed {
	position: fixed;
	top: 60px;
	left: 5px;
	right: 5px;
	z-index: 99999;
}

.no-bottom-border {
	border-bottom: none !important;
}

.spinner-center-absolute {
	position: absolute;
	left: calc(50% - 1rem);
	top: calc(50% - 1rem);
}
